<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://ui.zwartopwit.be/assets/zow_v4/stylesheets/stylesheet_v4_smalleheader.css">
  <link rel="stylesheet" href="/assets/stylesheets/style.css">
</head>

<body>
  <div class="pure-skin-zow allesgotham zow-contentpage">
    <div class="zow-units">
      {% block content %}{% endblock %}
    </div>
  </div>

  <script src="/assets/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/assets/javascripts/dropzone.js"></script>
  <script src="/assets/javascripts/script.js"></script>
</body>

</html>
