<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://ui.zwartopwit.be/assets/zow_v4/stylesheets/stylesheet_v4_smalleheader.css">
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <div class="pure-skin-zow allesgotham zow-contentpage">
    <div class="zow-units">
      <h1>Offerte aanvragen</h1>
      <div class="zow-unit zow-1-1 stappen">
        <div class="current-stap" data-position=0></div>
        <div class="stap-nummer tooltip finished">1
          <span class="tooltiptext">Gegevens</span>
        </div>
        <div class="stap-nummer tooltip">2
          <span class="tooltiptext">Oplage</span>
        </div>
        <div class="stap-nummer tooltip">3
          <span class="tooltiptext">Formaat en omvang</span>
        </div>
        <div class="stap-nummer tooltip">4
          <span class="tooltiptext">Papier en bedrukking</span>
        </div>
        <div class="stap-nummer tooltip">5
          <span class="tooltiptext">Afwerking en personalisatie</span>
        </div>
        <div class="stap-nummer tooltip">6
          <span class="tooltiptext">Aflevermethode</span>
        </div>
        <div class="stap-nummer tooltip">7
          <span class="tooltiptext">Bijlage en algemene opmerkingen</span>
        </div>
      </div>
      <form action="post" class="pure-form" id="offerteaanvraag">
        {{ content }}
      </form>
    </div>
  </div>

  <script src="/assets/javascripts/jquery-3.3.1.min.js"></script>
  <script src="/assets/javascripts/dropzone.js"></script>
  <script src="/assets/javascripts/script.js"></script>
</body>

</html>
