{% extends 'layouts/application.html.twig' %}

{% block content %}
<h1>Aanvraag verzonden</h1>
<p class="zow-estimate-sent">
  Snackwave flexitarian forage meggings tousled. Cronut edison bulb air plant kitsch yr VHS, tilde
  authentic hammock. Post-ironic taxidermy truffaut bitters green juice. Leggings post-ironic hoodie
  vinyl. Adaptogen live-edge mlkshk chambray, semiotics VHS humblebrag copper mug organic green
  juice jean shorts. Meggings pabst truffaut synth, wolf jean shorts kinfolk pinterest umami migas
  franzen scenester +1 disrupt tousled.
</p>
{% endblock %}
