<section id="papiersoort_bedrukking">
  <fieldset class="submission">
    <legend>Papier</legend>
  </fieldset>
  <div class="zow-units">
    <div class="zow-unit zow-1-2">
      <div class="papier-soort">
        <label for="">Papiersoort</label>
        <select name="estimate[material][paper]" id="" class="zow-unit zow-1-1">
          <option value="" disabled selected>Selecteer uw papiersoort</option>
          <option value="Maco silk light">Maco silk light</option>
          <option value="Maco silk medium">Maco silk medium</option>
          <option value="Maco silk normal">Maco silk normal</option>
          <option value="Maco silk heavy">Maco silk heavy</option>
          <option value="Maco gloss light">Maco gloss light</option>
          <option value="Maco silk medium digital">Maco silk medium digital</option>
          <option value="Maco silk normal digital">Maco silk normal digital</option>
          <option value="Maco silk heavy digital">Maco silk heavy digital</option>
          <option value="Maco silk normal + glossy">Maco silk normal + glossy</option>
          <option value="Maco silk normal + mat">Maco silk normal + mat</option>
          <option value="Eco silk light">Eco silk light</option>
          <option value="Eco silk heavy">Eco silk heavy</option>
          <option value="Eco silk light digital">Eco silk light digital</option>
          <option value="Eco silk heavy digital">Eco silk heavy digital</option>
          <option value="Prestige offset medium">Prestige offset medium</option>
          <option value="Prestige offset heavy">Prestige offset heavy</option>
          <option value="Biotop medium">Biotop medium</option>
          <option value="Biotop heavy">Biotop heavy</option>
          <option value="LUX (glossy,mat,velvet,mat spot-UV)">LUX (glossy,mat,velvet,mat spot-UV)</option>
          <option value="Postcard (glossy,mat,velvet,mat spot-UV)">Postcard (glossy,mat,velvet,mat spot-UV)</option>
          <option value="Postcard digital">Postcard digital</option>
          <option value="Laser (prestige,eco-cyclus,biotop)">Laser (prestige,eco-cyclus,biotop)</option>
          <option value="eigen papiersoort">Eigen papiersoort</option>
        </select>
      </div>
    </div>
    <div class="papier-binnenwerk-cover space-between">
      <div class="zow-unit zow-1-2">
        <label for="">Papiersoort binnenwerk</label>
        <select name="estimate[material][inside]" id="" class="zow-unit zow-1-1">
          <option value="" disabled selected>Selecteer de papiersoort van het binnenwerk</option>
          <option value="Maco gloss light">Maco gloss light</option>
          <option value="Maco silk light">Maco silk light</option>
          <option value="Maco silk medium">Maco silk medium</option>
          <option value="Maco silk normal">Maco silk normal</option>
          <option value="Eco-cyclus silk light">Eco-cyclus silk light</option>
          <option value="Eco-cyclus silk heavy">Eco-cyclus silk heavy</option>
          <option value="Prestige offset medium">Prestige offset medium</option>
          <option value="Lux mat">Lux mat</option>
          <option value="Lux glossy">Lux glossy</option>
        </select>
      </div>
      <div class="zow-unit zow-1-2 papier-binnenwerk-cover-cover">
        <label for="">Papiersoort cover</label>
        <select name="estimate[material][cover]" id="" class="zow-unit zow-1-1">
          <option value="" disabled selected>Selecteer de papiersoort van de cover</option>
          <option value="Maco silk + GLOSS laminaat">Maco silk + GLOSS laminaat</option>
          <option value="Maco silk + MAT laminaat">Maco silk + MAT laminaat</option>
          <option value="Maco silk medium">Maco silk medium</option>
          <option value="">Maco silk normal</option>
          <option value="Maco silk normal">Eco-cyclus silk heavy</option>
          <option value="Prestige offset heavy">Prestige offset heavy</option>
          <option value="Postcard mat">Postcard mat</option>
          <option value="Postcard glossy">Postcard glossy</option>
        </select>
      </div>
    </div>
    <div class="zow-unit zow-1-1">
      <label for="">Opmerking</label>
      <textarea class="zow-unit zow-1-1" name="estimate[material][comment]"></textarea>
    </div>
  </div>
  <fieldset class="submission">
    <legend>Bedrukking</legend>
  </fieldset>
  <div class="zow-units">
    <div class="zow-unit zow-1-2">
      <label for="">Kleur</label>
      <select name="estimate[material][color]" id="" class="zow-unit zow-1-1">
        <option value="" selected disabled>Selecteer de kleur van uw drukwerk</option>
        <option value="quadri">Quadri</option>
        <option value="zwart-wit">Zwart-wit</option>
      </select>
    </div>
    <div class="zow-unit zow-1-2">
      <label for="">Recto-verso</label>
      <select name="estimate[material][print]" id="" class="zow-unit zow-1-1">
        <option value="" selected disabled> Selecteer de bedrukking van uw drukwerk</option>
        <option value="recto">Recto</option>
        <option value="recto-verso">Recto-verso</option>
      </select>
    </div>
    <div class="zow-unit zow-1-4">
      <input type="button" value="terug" class="pure-button zow-1-1 pure-button-sec">
    </div>
    <div class="zow-unit zow-2-4"></div>
    <div class="zow-unit zow-1-4">
      <input type="button" value="verder" class="pure-button zow-1-1 pure-button-sec">
    </div>
  </div>
</section>
