<section id="bijlage_algemeneopmerkingen">
  <fieldset class="submission">
    <legend>Bijlage</legend>
  </fieldset>
  <div class="zow-units">
    <div class="upload-area zow-unit zow-1-1">
      <!--<input type="file" class="upload-file" name="estimate[attachement][files][]" id="file" data-multiple-caption="{count} bestanden geselecteerd" multiple>
      <label for="file" class="file-label">Upload je bestand <span class="has-dragndrop"> of sleep het hier naartoe</span></label>-->
    </div>
  </div>
  <fieldset class="submission">
    <legend>Algemene opmerkingen</legend>
  </fieldset>
  <div class="zow-units">
    <div class="zow-unit zow-1-1">
      <label for="">Opmerking</label>
      <textarea class="zow-unit zow-1-1" name="estimate[attachement][comment]"></textarea>
    </div>
    <div class="zow-unit zow-1-4">
      <input type="button" value="terug" class="pure-button zow-1-1 pure-button-sec">
    </div>
    <div class="zow-unit zow-2-4"></div>
    <div class="zow-unit zow-1-4">
      <input type="submit" value="verzenden" class="pure-button zow-1-1">
    </div>
  </div>
</section>
